/* General Styles*/
body {
    background: linear-gradient(135deg, #1a1a1a, #2c3e50);
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column
}
.page {
    padding: 20px;
    flex: 1;
}
/* Navigation Bar */
.navbar {
    padding: 10px 20px;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    margin: 0 10px;
}
/* Game Container */
.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    min-height: 80vh;
}
/* Board */ 
.board {
    display: grid;
    /* used repeat as is effcient way to define the number of grid-template-columns */
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 0 30px rgba(0, 150, 255, 0.2);
    width: 90%;
    max-width: 400px;
}
.x-mark {
    color: #ff4757;
    text-shadow:  0 0 20px rgba(255, 70, 85, 0.5);
}

.o-mark {
    color: #2ed573;
    text-shadow:  0 0 20px rgba(45, 210, 115, 0.5);
}
/* Cells */
.cell {
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.1);
    justify-content: center;
    align-items: center;
    width: 100%;
    aspect-ratio: 1; /* Ensure cells are square */
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.05);
    font-size: 1.5rem;
    transition: all 0.3s ease;
    cursor: pointer;
}
/* Info page */

#info {
    padding: 20px;
}
#info .card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
}
#info h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
#info p {
    font-size: 1.1rem;
    line-height: 1.6;
}