/* General Styles*/
body {
    background: linear-gradient(135deg, #1a1a1a, #2c3e50);
    margin: 0;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column

   

}
/* Navigation Bar */
.navbar {
    padding 10px 20px;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-link {
    font-size: 1.1rem;
    margin 0 10px;
}
/* Info page */

#info {
    padding: 20px;
}
#info .card {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
}
#info h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
}
#info p {
    font-size: 1.1rem;
    line-height: 1.6;
}